.ant-modal {
  background: 'red';
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-modal-root
  .ant-modal-centered
  .ant-modal {
  display: flex;
  align-items: center;
}

.ant-modal .ant-modal-content {
  padding: 0;
  /* background: transparent; */
  width: 100%;
  height: 90vh;
}

.ant-modal-body {
  height: 100%;
}

.cr-modal-wrapper {
  height: 100%;
}
.cr-modal-inner-wrapper {
  height: 100%;
}

/*** CR-MODAL INNER-WRAPPER ***/
.cr-modal-inner-wrapper {
  overflow-y: auto;
  display: flex;
  flex-direction: row;
}

.cr-card-content-wrapper {
  padding: 20px 20px 0 20px;
  display: flex;
  flex: 1;
}
body
  > div.ant-modal-wrap.ant-modal-centered
  > div
  > div.ant-modal-content
  > div
  > div
  > div.cr-modal-inner-wrapper {
  display: flex;
  min-width: 100%;
}

body
  > div.ant-modal-wrap.ant-modal-centered
  > div
  > div.ant-modal-content
  > div
  > div
  > div.cr-modal-inner-wrapper
  > div.cr-card-image
  > img {
  position: relative;
}

.ant-modal-wrap {
  position: fixed;
  top: 0;
  display: flex;
  inset-inline-end: 0;
  bottom: 0;
  inset-inline-start: 0;
  overflow: auto;
  outline: 0;
  justify-content: center;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-modal .ant-modal-close {
  display: none;
}

.ant-modal .cr-modal-outer-wrapper {
  height: 100%;
  width: 100%;
}
/*** CLOSE-ICON-WRAPPER ***/
.ant-modal .close-icon-wrapper {
  position: absolute;
  margin: 10px;
  z-index: 100;
  background: rgba(84, 84, 84, 0.5);
  color: white;
  border: none;
}
.ant-modal .close-icon span.anticon.anticon-close {
  color: white;
  font-size: 1.5rem;
}
/*** CR-MODAL WRAPPER ***/
.ant-modal .cr-modal-wrapper {
  display: flex;
  align-items: flex-start;
}
/*** CR-MODAL INNER-WRAPPER ***/
.ant-modal .cr-modal-inner-wrapper {
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
}
/*** CR-CARD WRAPPER ***/
.ant-modal .cr-card-image-wrapper {
  display: flex;
  flex: 1 1 600px;
  align-items: center;
  justify-content: center;
  background: black;
  position: relative;
  overflow: hidden;
}
.ant-modal .cr-card-image-wrapper .cr-card-image {
  width: 100% !important;
  height: auto !important;
  position: unset !important;
}
/*** CR-CARD ***/
.ant-modal .cr-card-image {
  z-index: 100;
}
.ant-modal .cr-card-bg {
  position: absolute;
  z-index: 50;
}
/*** CR-CARD CONTENT-WRAPPER ***/
.cr-card-content-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 0 20px;
  flex: 0 0 400px;
}
/*** CR-CARD CONTENT-INNER ***/
.ant-modal .cr-card-content-inner {
  display: flex;
  flex-direction: column;
  /* background: yellow; */
  width: 100%;
}
/*** CR-CARD POPOVER-WRAPPER ***/
.ant-modal .cr-card-popover-wrapper {
  /* border: 2px solid #111; */
  cursor: pointer;
}

/*** CR CREATOR WRAPPER ***/
.ant-modal .cr-creator-wrapper {
  display: flex;
  align-items: center;
  /* background: red; */
  justify-content: space-between;
  padding: 20px 0 10px 0;
}
/*** CR CREATOR INFO ***/
.ant-modal .cr-creator-info {
  display: flex;
  /* background: limegreen; */
  align-items: center;
  height: 50px;
}
/*** CR BLOCKIE ***/
.ant-modal .cr-blockie {
  border-radius: 50%;
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
/*** CR CREATOR DATA ***/
.cr-data {
  /* background: pink; */
  height: 100%;
  display: flex;
  flex-direction: column;
}
/*** CR ADDRESS ***/
.ant-modal .cr-address {
  font-weight: 600;
  font-size: 1rem;
  color: black;
}
/*** CR SHARE ***/
.ant-modal .cr-share-wrapper {
  display: flex;
}
/*** CR PROMPT WRAPPER ***/
.ant-modal .cr-prompt-wrapper {
  padding-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background: cyan; */
}
/*** CR PROMPT COMMAND ***/
.ant-modal .cr-prompt-command {
  font-weight: 600;
  font-size: 1.2rem;
  color: #8c7cf0;
  /* background: red; */
}
/*** CR PROMPT ***/
.ant-modal .cr-prompt {
  color: #111;
  font-weight: 600;
  font-size: 1.2rem;
}
/*** CR PROPERTIES ***/
.ant-modal .cr-property {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100px;
  border-radius: 20px;
  margin-bottom: 5px;
  padding: 3px 10px;
  background: rgba(0, 0, 0, 0.02);
}
.ant-modal .cr-property-type .icon {
  margin-right: 5px;
}
.ant-modal .cr-property-type {
  margin-right: 5px;
}
