{
  "presets": [
    ["next/babel", { "preset-env": { "exclude": ["@babel/preset-env", { "exclude": ["next/font"] }] } }]
  ],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true }]
  ]
}
